In [1]:
import pandas as pd

In [14]:
file_path = "/Users/mattking/Documents/Career/Posh/Portfolio/19688730/2-requests-by-session.csv"
df = pd.read_csv(file_path)

print(f"Rows/columns: {df.shape}")
df.head()

Rows/columns: (2119438, 7)

,user,campaign,session,date,method,endpoint,uri
0,1450,NaN,1,2018-10-22 10:56:06,GET,/users/current,/users/current
1,1450,NaN,1,2018-10-22 10:56:06,GET,/legal-conditions,/legal-conditions
2,1450,NaN,1,2018-10-22 10:56:06,GET,/players/{pid}/circles-activities,/players/1450/circles-activities
3,1450,NaN,1,2018-10-22 10:56:06,GET,/users/{pid}/notifications-count,/users/1450/notifications-count
4,1450,NaN,1,2018-10-22 10:56:08,GET,/players/{pid}/activities,/players/1450/activities

In [15]:
num_rows = 200000 

# taking random sample of 200k rows 
sample_df = df.sample(n=num_rows, random_state=42)

print(f"Rows/columns: {sample_df.shape}")
sample_df.head()

Rows/columns: (200000, 7)

,user,campaign,session,date,method,endpoint,uri
472822,1617,4.0,22580,2019-10-25 14:57:09,POST,/gis/locations,/gis/locations
347153,1468,5.0,9634,2019-07-24 11:36:17,POST,/activities,/activities
1010022,1574,NaN,61738,2020-02-07 20:21:40,POST,/gis/locations,/gis/locations
543415,1575,4.0,26314,2019-11-02 07:37:00,POST,/gis/locations,/gis/locations
256011,1193,3.0,7482,2019-04-17 14:24:12,GET,/uploads/secure/file.?,/uploads/secure/file.?

In [16]:
sample_file_path = "/Users/mattking/Documents/Career/Posh/Portfolio/mHealth_req_by_session_sample.csv"
sample_df.to_csv(sample_file_path, index=False)

In [18]:
# second file
file_path = "/Users/mattking/Documents/Career/Posh/Portfolio/19688730/2-requests.csv"
df_2 = pd.read_csv(file_path)

print(f"Rows/columns: {df_2.shape}")
df_2.head()

Rows/columns: (2119438, 6)

,user,campaign,date,method,endpoint,uri
0,1450,NaN,2018-10-22 10:56:06,GET,/users/current,/users/current
1,1450,NaN,2018-10-22 10:56:06,GET,/legal-conditions,/legal-conditions
2,1450,NaN,2018-10-22 10:56:06,GET,/players/{pid}/circles-activities,/players/1450/circles-activities
3,1450,NaN,2018-10-22 10:56:06,GET,/users/{pid}/notifications-count,/users/1450/notifications-count
4,1450,NaN,2018-10-22 10:56:08,GET,/players/{pid}/activities,/players/1450/activities

In [19]:
num_rows = 200000 

sample_df_2 = df_2.sample(n=num_rows, random_state=42)

print(f"Rows/columns: {sample_df_2.shape}")
sample_df_2.head()

Rows/columns: (200000, 6)

,user,campaign,date,method,endpoint,uri
472822,1617,4.0,2019-10-25 14:57:09,POST,/gis/locations,/gis/locations
347153,1468,5.0,2019-07-24 11:36:17,POST,/activities,/activities
1010022,1574,NaN,2020-02-07 20:21:40,POST,/gis/locations,/gis/locations
543415,1575,4.0,2019-11-02 07:37:00,POST,/gis/locations,/gis/locations
256011,1193,3.0,2019-04-17 14:24:12,GET,/uploads/secure/file.?,/uploads/secure/file.?

In [20]:
sample_file_path_2 = "/Users/mattking/Documents/Career/Posh/Portfolio/mHealth_req_sample.csv"
sample_df_2.to_csv(sample_file_path_2, index=False)